
.cardsComponent  .cards-list{
  display: flex;
  gap: 10px;
  overflow-x: scroll;
}

.cardsComponent .cards-title h1{
  color: #fff;
    font-size: 32px;
    margin: 0;
    padding-top: 30px;
    padding-bottom: 17px;
    position: relative;
}

.cardsComponent .cards-list::-webkit-scrollbar {
  display: none;
}

.cardsComponent .cards p {
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}

.cardsComponent .cards-list a{
  text-decoration: none;
}

.cardsComponent .cards img {
  max-height: 168px;
  height: 100vh;
  cursor: pointer;
}

@media only screen and (max-width: 450px){
 .cardsComponent .cards-list{
padding-right: 0px;
  }
}
