
.popularMoviesComponent{
  margin-top: 0;
  padding-left: 34px;
  background-color: #181717;
}

.popularMoviesComponent .inner .main-heading h1{
  color: #fff;
  font-size: 32px;
  margin: 0;
  padding-top: 30px;
  padding-bottom: 17px;
}

.popularMoviesComponent .inner .cards-list{
display: flex;
gap: 10px;
overflow-x: scroll;
padding-right: 34px;
}

.popularMoviesComponent .inner .cards-list::-webkit-scrollbar{
  display: none;
}

.popularMoviesComponent .inner .cards{
  position: relative;
}

.popularMoviesComponent .inner .cards p{
  color: #fff;
  font-size: 18px;
  text-align: center;
  margin-top: 10px;
}

.popularMoviesComponent .inner .cards img{
  max-height: 168px;
  height: 100vh;
  cursor: pointer;
}

.popularMoviesComponent .second-cards{
  margin-top: 30px;
}

.popularMoviesComponent .inner .bottom-heading h1{
  color: #fff;
    font-size: 32px;
    margin: 0;
    padding-top: 12px;
    padding-bottom: 17px;
}

@media only screen and (max-width: 600px){
  .popularMoviesComponent .inner .cards img{
    max-height: 130px;
  }

  .popularMoviesComponent .inner .main-heading h1{
    font-size: 25px;
  }

    .popularMoviesComponent .inner .bottom-heading h1{
      font-size: 25px;
    }
}
