
.popularMoviesComponent{
  margin-top: 0;
  padding-left: 34px;
  background-color: #181717;
}

.popularMoviesComponent .inner .cards-list{
display: flex;
gap: 10px;
overflow-x: scroll;
padding-right: 34px;
}

.popularMoviesComponent .inner .cards-list::-webkit-scrollbar{
  display: none;
}

.popularMoviesComponent .inner .cards{
  position: relative;
}

.popularMoviesComponent .inner .cards img{
  max-height: 168px;
  height: 100vh;
  cursor: pointer;
}

.popularMoviesComponent .second-cards{
  margin-top: 30px;
}


@media only screen and (max-width: 600px){
  .popularMoviesComponent .inner .cards img{
    max-height: 130px;
  }
}

@media only screen and (max-width: 450px){
.popularMoviesComponent{
  padding-left: 20px;
}

.popularMoviesComponent .inner .cards-list{
  padding-right: 20px;
}
}
