
.listPage{
  margin-top: 100px;
  background-color: #181717;
  height: 100%;
}

.listPage .inner .main-heading{
  padding-left: 25px;
  padding-top: 20px;
}

.listPage .inner .main-heading h1{
  color: #fff;
margin: 0;
font-size: 32px;
}

.listPage .movie-list{
  display: flex;
  gap: 10px;
  margin-top: 30px;
  padding-left: 25px;
  overflow-x: scroll;
  padding-right: 25px;
}

.listPage .movie-list::-webkit-scrollbar{
  display: none;
}

.listPage .movie-list .movie-item img{
  max-height: 250px;
    height: 100vh;
    margin-bottom: 10px;
}

.listPage .movie-list p{
  color: #fff;
    font-size: 18px;
    text-align: center;
    margin: 0;
    max-width: 170px;
    width: 100%;
}

.listPage .movie-list a{
  text-decoration: none;
}
